.statepage-bg-container {
  height: 100vh;
  width: 100vw;
  background-color: #161625;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.statepage-bg-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-top: 10vh;
}

.statepage-bg-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10vh;
}

.statepage-bg-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.statepage-bg-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.state-main-page {
  margin-top: 10vh;
  padding: 25px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.state-heading-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.state-head-container {
  display: flex;
  flex-direction: column;
}
.state-head {
  font-family: Roboto;
  font-size: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8fafc;
  margin: 0px;
  padding: 0px;
}
.last-update {
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cbd5e1;
  margin: 0px;
  padding: 7px;
}
.state-tested-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tested-head {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #94a3b8;
  margin: 0px;
  padding: 0px;
}
.tested {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #94a3b8;
  margin: 0px;
  padding: 0px;
}
.map-area {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 100px;
  margin-bottom: 20px;
}
.state-details {
  width: 30vw;
}
.map-head {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #94a3b8;
}
.map-para {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f1f5f9;
}
.top-district {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff073a;
}

.districtwise-confirmed {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}
.confirmed-district-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.confirmed-district {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 35px;
  width: 250px;
}
.confirmed-list {
  font-family: Roboto;
  font-size: 24px;
  color: #94a3b8;
  width: 90px;
}
.district-list {
  font-family: Roboto;
  font-size: 16px;
  color: #94a3b8;
}
.line-charts {
  width: 80vw;
  font-family: Roboto;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.tested {
  color: #9673b9;
}
.teste-bg {
  background-color: #230f41;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 769px) {
  .state-main-page {
    padding: 15px 20px;
  }
  .state-head {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .last-update {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
  .tested-head {
    font-size: 15px;
  }
  .tested {
    font-size: 18px;
  }
  .map-area {
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
  }
  .state-details {
    width: 80vw;
  }
  .line-charts {
    width: 100vw;
    font-family: Roboto;
    font-size: 15px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }
  .tested {
    color: #9673b9;
  }
  .teste-bg {
    background-color: #230f41;
  }
}
