.state-case-table {
  width: 75vw;
  border: 1px solid #475569;
  background: #1e1e30;
  box-shadow: 0px 4px 16px 0px #00000029;
  border-radius: 5px;
  color: #fff;
  padding-bottom: 15px;
}

.table-heading {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0px;
  padding: 0px 20px;
  width: 74vw;
}
.state-ut {
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sort-button {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding-top: 5px;
}
.hr-line {
  border: 1px solid #475569;
  width: 100%;
}
.state-details {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.table-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0px;
  padding: 0px;
  width: 73vw;
}
.state-name {
  direction: ltr;
  width: 20vw;
  transition: all 0.1s ease-in-out;
}
.state-name:hover {
  color: #1e90ff;
  text-shadow: 0px 0px 10px #000;
}
.table-row {
  width: 20vw;
  text-align: right;
}

@media (max-width: 769px) {
  .state-case-table {
    width: 95vw;
    overflow: auto;
  }

  .table-heading {
    height: 35px;
    padding: 0px 10px;
    width: 93vw;
  }
  .state-ut {
    width: 22vw;
    font-size: 10px;
  }
  .sort-button {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
  .table-head {
    font-size: 10px;
  }
  .hr-line {
    border: 1px solid #475569;
    width: 100%;
  }
  .table-body {
    width: 93vw;
    padding: 10px;
    margin: 0px;
  }
  .state-name {
    font-size: 10px;
  }
  .table-row {
    font-size: 10px;
    width: 10vw;
  }
}
